.section {
  margin-top: 50px;
  width: 395px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 8px 8px 5px -5px #4e4a52;
  border-radius: 5px;
  text-align: center;

  transition: transform 250ms ease;
}
.section:hover,
.section:focus {
  transform: scale(1.1);
}
.title {
  margin: 0;
  text-transform: uppercase;
  color: #4e4a52;
}
.container {
  padding: 20px 50px;
}
.stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.StatItem {
  width: 79px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
